<h2>Edit Profile</h2>
<h3>Name: <%= @student.id%>
<!--
<%= form_for @student, url: edited_profile_path, method: :put do |f| %>
  <%= label :student, :standing, 'Standing', :class => 'col-form-label' %>
  <%= text_field :student, 'standing', :class => 'form-control' %>
  <%= label :student, :major1, 'Major 1', :class => 'col-form-label' %>
  <%= text_field :student, 'major1', :class => 'form-control' %>
  <%= label :student, :major2, 'Major 2', :class => 'col-form-label'  %>
  <%= text_field :student, 'major2', :class => 'form-control' %>
  <%= label :student, :minor1, 'Minor 1', :class => 'col-form-label'  %>
  <%= text_field :student, 'minor1', :class => 'form-control' %>
  <%= label :student, :minor2, 'Minor 2', :class => 'col-form-label'  %>
  <%= text_field :student, 'minor2', :class => 'form-control' %>
  <%= label :student, :minor3, 'Minor 3', :class => 'col-form-label'  %>
  <%= text_field :student, 'minor3', :class => 'form-control' %>
  <br/>
  <%= submit_tag 'Update Profile', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', profile_path, :class => 'btn btn-secondary' %>
<% end %>
-->

<%= form_for @student, url: edited_profile_path, method: :put do |f| %>
  <%= label :student, :standing, 'Standing', :class => 'col-form-label' %>
  <select name='student[standing]' id="Standing">
    <% @categories.each do |category| %>
      <option value="<%= category[:name] %>"><%= category[:name] %></option>
    <% end %>
  </select>
  <br>

  <%= label :student, :major1, 'Major 1', :class => 'col-form-label' %>
  <select name='student[major1]' id="Major 1">
    <% @major_minor_options.each do |major| %>
      <option value="<%= major[:id] %>"><%= major[:name] %></option>
    <% end %>
  </select>
  <br>

  <%= label :student, :major2, 'Major 2', :class => 'col-form-label'  %>
  <select name='student[major2]' id="Major 2">
  <option value="<%= "" %>"><%= "" %></option>
    <% @major_minor_options.each do |major| %>
      <option value="<%= major[:id] %>"><%= major[:name] %></option>
    <% end %>
  </select>
  <br>

  <%= label :student, :minor1, 'Minor 1', :class => 'col-form-label'  %>
  <select name='student[minor1]' id="Minor 1">
  <option value="<%= "" %>"><%= "" %></option>
    <% @major_minor_options.each do |minor| %>
      <option value="<%= minor[:id] %>"><%= minor[:name] %></option>
    <% end %>
  </select>
  <br>

  <%= label :student, :minor2, 'Minor 2', :class => 'col-form-label'  %>
  <select name='student[minor2]' id="Minor 2">
  <option value="<%= "" %>"><%= "" %></option>
    <% @major_minor_options.each do |minor| %>
      <option value="<%= minor[:id] %>"><%= minor[:name] %></option>
    <% end %>
  </select>
  <br>

  <%= label :student, :minor3, 'Minor 3', :class => 'col-form-label'  %>
  <select name='student[minor3]' id="Minor 3">
  <option value="<%= "" %>"><%= "" %></option>
    <% @major_minor_options.each do |minor| %>
      <option value="<%= minor[:id] %>"><%= minor[:name] %></option>
    <% end %>
  </select>
  <br/>
  <%= submit_tag 'Update Profile', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', profile_path, :class => 'btn btn-secondary' %>
<% end %>