<!--  app/views/schedules/profile.html.erb -->
<h2> Profile </h2>

<ul id="profile" style="list-style-type: none">
  <li>
    Name:
    <%= @student.firstName%>
  </li>
  <li>
    Uni:
        <%= @student.uni %>
  </li>
  <li>
    Standing:
        <%= @student.standing %>
  </li>
  <li>
    Major 1:
        <%= @student.major1 %> <!-- get the user's major, get the major name-->
  </li>
  <li>
    Minor 1:
        <%= @student.minor1 %> 
  </li>

</ul>

<h3>Links:</h3>

<div class="row">
  <%= link_to 'Edit Profile', edit_profile_path, :class => 'btn btn-secondary' %>
  <%= link_to 'Back to Schedules', schedule_path, :class => 'btn btn-primary col-2' %>
</div>
