<!--  app/views/schedules/profile.html.erb -->
<h1 class="page-title"> Profile </h1>

<ul id="profile" style="list-style-type: none" class="profile-body">
  <li class="profile-name">
    <!-- Name: -->
    <%= @student.firstName%> <%=@student.lastName %>
  </li>
  <li>
    <!-- Uni: -->
        <%= @student.uni %>
  </li>
  <li>
    <!-- Standing: -->
        <%= @student.standing %>
  </li>
</ul>
<br>
<div class="d-flex justify-content-center">
  <table class="table major-table table col-md-4">
    <tbody>
      <tr>
        <th >Major:</th>
        <td><%= @major1 %></td>
      </tr>
    </tbody>
  </table>

</div>

<br>

<!-- <h3>Links:</h3> -->

<div class="profile-button d-flex justify-content-center">
  <div class="profile-button">
    <%= link_to 'Edit Profile', edit_profile_path, :class => 'btn btn-secondary profile-edit' %>
  </div>
  <div class="profile-button">
    <%= link_to 'Back to Schedules', schedule_path, :class => 'btn btn-primary profile-back' %>
  </div>
</div>


