<!--Find me in app/views/courses/add_course.html.erb-->
<h1 class="page-title"> Add Course </h1>

<h2 class="profile-name"> Requirements for <em><%= @semester %></em></h2>
<table class="table table-striped col-md-12" id="courses">
    <tr id = "test" class="body-text">
      <th>Course</th>
      <th>Course Code</th>
      <th>Action</th>
    </tr>
    <% @courses_to_fulfill.each do |req, courses| %>
        <tr>
          <td class="req">
            <%= req.reqLabel %>
          </td>
        </tr>
        <% courses.each do |course| %>
          <tr id="<%=course.courseTitle%>">
            <td class="course">
              <%= course.courseTitle %>
            </td>
            <td class="course">
            <%= course.prefixCode + " " + course.courseCode %>
            </td>
            <td class="course">
              <%= button_to "add", { schedule: { uni: @uni, courseID: course.courseID, semester: params[:semester], reqID: req.reqID, id: course.courseID }, id: course.courseID }, class: 'add-button' %>
            </td>
          </tr>
        <% end %>
    <% end %>
</table>