<h1 class="page-title"> All Courses </h1>

<h2 class="profile-name"><em><%= @semester %></em></h2>
<%= form_tag all_courses_search_path, method: "GET" do %>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= label_tag "Search by Course Name", nil, class: 'col-form-label profile-name md-font-size' %>
      <%= text_field_tag :search_by_name, params[:search_by_name], class: 'form-control small-input' %>
    </div>

    <div class="form-group col-md-6">
      <%= label_tag "Search by Course Code", nil, class: 'col-form-label profile-name md-font-size' %>
      <%= text_field_tag :search_by_title, params[:search_by_title], class: 'form-control small-input' %>
    </div>
  </div>

  <button id="searchButton", class="search-button">
      <%= submit_tag "Search", :class => 'btn btn-primary profile-back'%>
  </button>

<% end %>
<button class="float-left m-4 back-button"> <%= link_to "<- Add Course by Requirement", add_course_path(semester: @semester) %> </button>

<table class="table table-striped col-md-12" id="courses">
    <tr id = "test" class="body-text">
      <th>
        <%= link_to 'Course', all_courses_path({sort_by: 'courseTitle'}), id: 'courseTitle_header', class: ('bg-warning hilite' if @sort_by == 'courseTitle') %>
      </th>
      <th>
        <%= link_to 'Course Code', all_courses_path({sort_by: 'courseCode'}), id: 'courseCode_header', class: ('bg-warning hilite' if @sort_by == 'courseCode') %>
      </th>
      <th>Action</th>
    </tr>
    <% @courses.each do |course| %>
          <tr>
            <td class="course">
              <%= course.courseTitle %>
            </td>
        <td class="course">
        <%= course.prefixCode + " "+ course.courseCode %>
        </td>
            <td class="course">
              <%= button_to "add", { schedule: { uni: @uni, courseID: course.courseID, semester: params[:semester], reqID: 44, id: course.courseID }}, class: 'add-button' %>
            </td>
          </tr>
    <% end %>
</table>


<%= will_paginate @courses, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
