<%= stylesheet_link_tag 'league_spartan' %>

<h2>Edit Profile</h2>
<%= form_tag schedule_path(@schedule), :method => :put do %>
  <%= label :student, :standing, 'Major1', :class => 'col-form-label' %>
  <%= text_field :student, 'Standing', :class => 'form-control' %>
  <%= label :student, :major1, 'Major1', :class => 'col-form-label' %>
  <%= text_field :student, 'Major1', :class => 'form-control' %>
  <%= label :student, :major2, 'Major2', :class => 'col-form-label'  %>
  <%= text_field :student, 'Major2', :class => 'form-control' %>
  <%= label :student, :minor1, 'Minor1', :class => 'col-form-label'  %>
  <%= text_field :student, 'Minor1', :class => 'form-control' %>
  <%= label :student, :minor2, 'Major2', :class => 'col-form-label'  %>
  <%= text_field :student, 'Minor2', :class => 'form-control' %>
  <br/>
  <%= submit_tag 'Update Movie Info', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', movies_path, :class => 'btn btn-secondary' %>
<% end %>
