<!--Find me in app/views/courses/index.html.erb-->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    .dropbtn {
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content a {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {background-color: #ddd;}
    .dropdown:hover .dropdown-content {display: block;}
    .dropdown:hover .dropbtn {background-color: #3e8e41;}
    </style>
</head>

<h1 class="page-title">My Courses</h1>

<!-- 
<h1>Courses</h1>

TODO: 
Add search
Add view by
Fix table...what goes into the controllers?
Search



<ul id="details">
  <li>
    Major:
    <%= @major_name %>
  </li>
</ul>
-->

<br>

<%= form_tag add_academic_year_path, :method => :put do %>
  <div style="margin-left: auto;">
    <label for="year">Select Academic Year:</label>
    <select name="year" id="Year">
      <% @years.each do |year| %>
        <option value="<%= year[:name] %>"><%= year[:name] %></option>
      <% end %>
    </select>
    <button id="myButton" class="add-academic-year-button">
      <%= submit_tag "Add Academic Year", :class => 'btn btn-primary profile-back'%>
    </button>
  </div>
<% end %>

<!-- for each academic year -->


<% @semesters.each do |semester| %>

  <!-- <h2 class="a-year-title"> 2022 - 2023 </h2> -->

  <div class="semester-tables-container">

    <div class="d-flex justify-content-between">

      <table class="table semester-table col-md-5">
        <thead>
          
          <tr>
            <th colspan="5" style="text-align: left; border: none;">
              <div class="table-title">
                <div>
                  <h3 class="sem-title" style="margin: 0;"><%= semester.semester%></h3>
                </div>
                <div style="margin-left: auto;">
                  <button id="myButton" class="add-course-button">
                    <%= link_to "Add Courses", add_course_path(semester: semester.semester) %>
                  </button>
                </div>
              </div>
            </th>
          </tr>
          
          <tr class="body-text">
            <!-- <th>Semester</th> -->
            <th>Course</th>
            <th>Requirements</th>
            <!-- <th>Taken</th> -->
            <th>Action</th>
          </tr>

        </thead>
        <tbody class="body-text">
          <% @schedule.each do |course| %>
              <% if course.semester == semester.semester %>
                <tr>
                  <!-- <td>
                    <%= course.semester %>
                  </td> -->
                  <td>
                    <%= course.courseTitle %>
                  </td>
                  <td>
                    <%= course.reqLabel %>
                  </td>
                  <!-- <td>
                    <%= course.taken %>
                  </td> -->
                  <td> <!-- #{course.courseTitle}-->
                        <%= button_to "delete", destroy_schedule_path(:schedID => course.schedID), method: :delete, :schedID => course.schedID, class: 'delete-button' %>
                  </td>
                </tr>
              <% end %>
          <% end %>
        </tbody>
      </table>

    </div>

  </div>

<% end %>


<br>
<!--
<h2> Schedule </h2>
<table class="table table-striped col-md-12" id="courses">
  <thead>
    <tr>
      <th>Semester</th>
      <th>Course</th>
      <th>Requirements Filled</th>
      <th>Taken</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @schedule.each do |course| %>
      <tr>
        <td>
          <%= course.semester %>
        </td>
        <td>
          <%= course.courseID %>
        </td>
        <td>
          <%= course.reqID %>
        </td>
        <td>
          <%= course.taken %>
        </td>
        <td>
            <%= link_to 'Remove Class', destroy_schedule_path(:schedID => course.schedID), 'data-method' => 'delete', 'data-confirm' => 'Are you sure?' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
-->