<!--Find me in app/views/courses/index.html.erb-->
<h1>Courses</h1>

<!-- TODO: 
Add search
Add view by
Fix table...what goes into the controllers?
Search
-->

<ul id="details">
  <li>
    Major:
    <%= @major %>
  </li>
  <li>
    Requirements:
    <%= @requirements %>
  </li>
</ul>

<br>

<h2> Course Requirements </h2>
<table class="table table-striped col-md-12" id="reqs">
  <thead>
    <tr>
      <th>Course</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @requirements do |course| %>
      <tr>
        <td>
          <%= course.courseID %>
        </td>
        <td>
            <%= link_to 'Add Class', course_path(classes: @r_hash), id: 'title_header' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<h2> Schedule </h2>
<table class="table table-striped col-md-12" id="courses">
  <thead>
    <tr>
      <th>Semester</th>
      <th>Course</th>
      <th>Requirements Filled</th>
    </tr>
  </thead>
  <tbody>
    <% @schedule do |course| %>
      <tr>
        <td>
          <%= course.semester %>
        </td>
        <td>
          <%= course.courseID %>
        </td>
        <td>
          <%= course.reqID %>
        </td>
        <td>
          <%= course.taken %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
